#navbar{
    /* height: 100px; */
    flex-wrap: wrap;;
    flex-direction: column;
    /* width: 100%; */
}
#navbar ul{
    /* text-align: center; */
    justify-content: center;
}
#navbar ul li a {
    font-size: 14px;
    margin: 0px 4px;
   
}
#navbar div{
    text-align: center;
} 
#logo{
    height: 60px ;
    width: 60px;
}
#home{
    height: 210px;
    width: auto;;
}
#home::before{
    height: 210px;
    width: 100%;
}
#home p{
 font-size: 10px;

}
#heading{
    margin:10px 0px;
    font-size: 30px;  
}
#btn{
    padding: 7px;
    margin: 34px;
    font-size: 14px;
    border-radius: 10px;
    border: 0px;
    width: 200px;
    background-color: pink;
}
#service{
    height: 1250px;
    flex-direction: column;
}
.box{
    width: 100%; 
    font-size: 1rem;
    justify-content: center;
   text-align: center;
}
h2{
    font-size: 21px;
}
h3{
    font-size: 15px;
}
#form1{
    font-size: 13px;
    
}
 #form1::before{
    height: 580px;
    width: 100%;
} 
.input{
    width: 250px;
}
#location{
    font-size: .8rem;
   
}
h4{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 9px;
}
#location::before{
    height: 200px;
    width: 100%;
}
